#attribute{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
#Player,#ai{
    width: 60%;
    height: 150px;
    padding: 0em 1em;
    margin: 10px 10px 10px 50px;
    font-weight: bold;
    color: #40ff00;
    background: #FFF;
    border: solid 6px #0175fabd;
    border-radius: 20px;

    border-radius: 150px 150px 150px 150px
    
}

body {
    background-color: skyblue;
}

#but{
    width:80%;
    border-radius: 20px;
    color: #fff;
    background-color: #eb6100;
    text-align: center;
}



p{

    font-size: 50px;
    text-align: center;
}
